.jumbotron {
  height: 75vh;
  background-image: linear-gradient(
      to right,
      rgba(8, 22, 37, 0.8),
      rgba(8, 22, 37, 0.4)
    ),
    url("../../assets/Images/m1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  color: white;
  font-weight: bolder;
}
.jumbotron-search {
  display: flex;
  justify-content: center;
}
.jumbotron-search .search-container {
  margin-left: 10px;
  width: 80%;
  border:none;
  border-right: none;
  padding: 5px 0px;
  height: 20px;
  border-radius: 30px 50px 50px 30px;
  outline: none;
  color: #9DBFAF;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbotron-search .search-container input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 30px;
}


.search-button {
  height: 30px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 10 5px 5px 10;
    border-radius: 20px;
    cursor: pointer;
    
}
.welcome {
  font-size: 44px;
  animation-name: movieRight;
  animation-duration: 1s;
}

.pera {
  font-size: 30px;
  animation-name: movieLeft;
  animation-duration: 1s;
}

@keyframes movieRight {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes movieLeft {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
